.gradientUp {
    background: linear-gradient(to bottom, #292929 0%, #020202 100%);
}

#LoginPage {
    color: white;
    
}
#LoginPage.card {
    background-color: #121212;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    padding-bottom: 32px;
}
input.LoginPage {
    box-sizing: border-box;
    outline-color: rgb(179, 179, 179);
    background: #1f1f1f;
    border: 1px solid;
    border-radius: 2%;
}
input.LoginPage:hover {
    outline-color: white;
}

.divider {
    background: #fff;
    height: 25px;
    margin: 16px;
    width: 1px;
}
.navbar{
    background-color: black;
}

.footer.Login {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background: #121212;
    color: rgb(179, 179, 179);
}
a.Login {
    color: rgb(179, 179, 179);
}
.roundbutton {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f1f1f;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    border: none;
}



.search-bar {
    --size: 48px;
    --padding: 8px;
    --expanded-width: 474;
    display: flex;
    justify-content: flex-end;
    background-color: #1f1f1f;
    border-radius: 100px;
    outline: 0px solid transparent;
    overflow: hidden;
    padding: var(--padding);
    margin-inline: auto;
    width: var(--expanded-width);
    height: var(--size);
    max-width: 100%;
    transition: width 0.5s, outline 0.5s;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar:focus-within {
    width: var(--expanded-width);
    outline: white;
}
.search-input {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    margin-inline: 1rem;
    transition: opacity 0.5s;
}

.search-bar:focus-within .search-input {
    opacity: 1;
}

.search-submit {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: calc(var(--size) - var(--padding) - var(--padding));
    aspect-ratio: 1;
    cursor: pointer;
}
.search-bar:hover {
    background-color: #2a2a2a;
}
